<!DOCTYPE html>
<html>
<head>
<link href="../stylesheets/garden.css" rel="stylesheet">

</head>
<body>
  <div class = "questions">
  <body style ="margin:10px;padding:10px">
    <a href="/" class = "button1">Home</a>
    <a href="/questions" class = "button2">Questions</a>
    <a href="/mygarden" class = "button3" >My Garden</a>
    <a href="/myprofile" class = "button4">My Profile</a>
    <a href="/leaderboard" class="button5">Leaderboard</a>
    <a href="{{logout_url}}" id="getout" class ="button6">Log Out</a>
  </div>
</body>

<canvas id="myCanvas" width ="2000" height = "1000">
Your browser does not support the HTML5 canvas tag.


<script src="../scripts/garden.js"></script>
</html>
