<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../stylesheets/hackcmustyle.css" rel="stylesheet">
    <title> Leaderboard </title>
  </head>
  <body>
    <body style="margin:20px;padding:20px">
    <div class= "leaderboard">
<h1> How much is everyone else helping the environment? </h1> <br> <br>

<h2> Worldwide Leaderboard </h2>
<table>
  <colgroup>
    <col span="3" style="background-color:white">

  </colgroup>

  <tr>
    <th>User</th>
    <th>Score</th>
    <th>Location</th>
  </tr>

    {% for profile in profiles %}
  <tr>
    <td>{{profile.email}}</td>
    <td>{{profile.score}}</td>
    <td>{{profile.hometown}}</td>
  </tr>

  {% endfor %}
</table>


</div>


  </body>
</html>
