<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../stylesheets/hackcmustyle.css" rel="stylesheet">
    <title> {{profile.name}}'s Profile</title>
  </head>
  <body>
<div class = "questions">
  <body style="margin:20px;padding:20px">
    <button type="button" onclick="window.location.href='/'" style=margin-left:35%
    >Home</button>
    <button type="button" onclick="window.location.href='/questions'"
    >Questions</button>
    <button type="button" onclick="window.location.href='/mygarden'"
    >My Garden</button>
    <button type="button" onclick="window.location.href='/myprofile'"
    >My Profile</button>
    <button type="button" onclick="window.location.href='/leaderboard'">
    Leaderboard</button>
  <h1> <center> My Profile </center> </h1>

<h4> Email: {{profile.email}}</h4>
<h2> Hometown: {{profile.hometown}}</h2>

</div>

  </body>
</html>
