<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../stylesheets/hackcmustyle.css" rel="stylesheet">
    <title> Profile </title>
  </head>
  <body>
<div class = "questions">
  <body style="margin:20px;padding:20px">
    <button type="button" onclick="window.location.href='/'" style=margin-left:33%
    >Home</button>
    <button type="button" onclick="window.location.href='/questions'"
    >Questions</button>
    <button type="button" onclick="window.location.href='/mygarden'"
    >My Garden</button>
    <button type="button" onclick="window.location.href='/myprofile'"
    >My Profile</button>
    <button type="button" onclick="window.location.href='/leaderboard'">
    Leaderboard</button>
  <h1> <center> {{profile.name}}'s Profile </center> </h1>
  <style>
  h3 { text-indent: 20px; }
  h2 { text-indent: 20px; }
  </style>
<h3> Email: {{profile.email}}</h3>
<h2> Hometown: {{profile.hometown}}</h2>
<h2> Total points: </h2>
<br><br>
</div>

  </body>
</html>
