<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../stylesheets/hackcmustyle.css" rel="stylesheet">
    <title> Profile </title>
  </head>
  <body>
<div class = "questions">
  <body style="margin:20px;padding:20px">
    <a href="/" class = "button1">Home</a>
    <a href="/questions" class = "button2">Questions</a>
    <a href="/mygarden" class = "button3" >My Garden</a>
    <a href="/myprofile" class = "button4">My Profile</a>
    <a href="/leaderboard" class="button5">Leaderboard</a>
    <a href="{{logout_url}}" id="getout" class ="button6">Log Out</a>
  <h1> <center> {{profile.name}}'s Profile </center> </h1>
  <style>
  h3 { text-indent: 20px; }
  h2 { text-indent: 20px; }
  </style>
<h3> Email: {{profile.email}}</h3>
<h2> Hometown: {{profile.hometown}}</h2>
<h2> My points: {{profile.score}} </h2>
<br><br>
</div>

  </body>
</html>
