<!DOCTYPE html>
<html>
  <head>
    <title> {{current_user}}</title>
    <link href="../stylesheets/hackcmustyle.css" rel="stylesheet">
  </head>

  <header>
    <div class="questions">
    <header style="margin:10px;padding:10px">
    <h1><center>Create Profile</center><h1>
    </div>
  </header>
  <body>
    <div class="questions">
    <body style="margin:20px;padding:20px">
    <p style="margin-left:20px">
      <!-- <h3>Name: {{current_user}}</h3> -->
    <form action="/profile" method="post">
      <h3>Name</h3>
      <input type="text" name="name" placeholder="Name" style=margin-left:1%>
      <h3>Hometown</h3>
      <textarea  placeholder="Where are you from?" style=margin-left:1%
      name="hometown" rows="2" cols="80"></textarea><br><br>

      <input type="submit" method="post">

    </form>
  </body>
</html>
