<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link href="../stylesheets/hackcmustyle.css" rel="stylesheet">
  </head>
  <body>
    <body style="margin:20px;padding:20px">
      <div class="questions">
      <a href="/" class = "button1">Home</a>
      <a href="/questions" class = "button2">Questions</a>
      <a href="/mygarden" class = "button3" >My Garden</a>
      <a href="/myprofile" class = "button4">My Profile</a>
      <a href="/leaderboard" class="button5">Leaderboard</a>
      <a href="{{logout_url}}" id="getout" class ="button6">Log Out</a> 
      <h1><center> Were You Eco-Friendly? </center> </h1>

    <fieldset>
        <legend> <b>How did you get around today?</b></legend>
        <input type="checkbox" name="transportation" id="Carpool" value="Carpool" /><label for="Carpool">Carpool</label><br />
        <input type="checkbox" name="transportation" id="Public Transit" value="Public Transit"  /><label for="Public Transit">Public Transit</label><br />
        <input type="checkbox" name="transportation" id="Walk" value="Walk" /><label for="Walk">Walk</label><br />
        <input type="checkbox" name="transportation" id="Bike" value="Bike" /><label for="Bike">Bike</label><br />
    </fieldset>
    <fieldset>
        <legend><b>How did you contribute at home?</b></legend>
        <input type="checkbox" name="home" id="Turned off all lights" value="Turned off all lights" /><label for="Turned off all lights">Turned off all lights</label><br />
        <input type="checkbox" name="home" id="Turned off faucet" value="Turned off faucet"  /><label for="Turned off faucet">Turned off faucet</label><br />
        <input type="checkbox" name="home" id="Did a full load of laundry" value="Did a full load of laundry" /><label for="Did a full load of laundry">Did a full load of laundry</label><br />
        <input type="checkbox" name="home" id="Thermostat reads 68 in the winter or 75 in the summer" value="Thermostat reads 68 in the winter or 75 in the summer" /><label for="Thermostat reads 68 in the winter or 75 in the summer">Thermostat reads 68 in the winter or 75 in the summer</label><br />
    </fieldset>
    <fieldset>
        <legend><b>What about your resources?</b></legend>
        <input type="checkbox" name="resources" id="Used a reusable water bottle" value="Used a reusable water bottle" /><label for="Used a reusable water bottle">Used a reusable water bottle</label><br />
        <input type="number" name="resources" id="Recycled bottle/cans" value="Recyled bottle/cans"  /><label for="Recyled bottle/cans">Recyled bottle/cans</label><br />
        <input type="checkbox" name="resources" id="Composted" value="Composted" /><label for="Composted">Composted</label><br />
        <input type="checkbox" name="resources" id="Recycled paper" value="Recycled paper" /><label for="Recycled paper">Recycled paper</label><br />
    </fieldset>
    <fieldset>
        <legend><b>How did you eat?</b></legend>
        <input type="checkbox" name="meal" id="Chose local food products" value="Chose local food products" /><label for="Chose local food products">Chose local food products</label><br />
        <input type="checkbox" name="meal" id="Used your own dishes" value="Used your own dishes"  /><label for="Used your own dishes">Used your own dishes</label><br />
        <input type="checkbox" name="meal" id="Organic" value="Organic" /><label for="Organic">Organic</label><br />
        <input type="checkbox" name="meal" id="Reduced packaged meat consumption" value="Reduced packaged meat consumption" /><label for="Reduced packaged meat consumption">Reduced packaged meat consumption</label><br />
    </fieldset>
      <input id= "score" type="submit" value="Submit">
      <p id="score" class="questions"> Score:  </p>


      <!-- after pressing submit button, we can use JS to show the results of
      your number with a message like "Good job! You helped you garden grow
      today. or Keep working at it! With more efforts to reduce you carbon
      footprint, the more your garden will grow"  -->
  </div>
<script>
  function check() {
    points=0;
    if( document.getElementById("Carpool").checked == true){
      points+=1;
    }
    if( document.getElementById("Public Transit").checked == true){
      points+=1;
    }
    if( document.getElementById("Walk").checked == true){
      points+=1;
    }
    if( document.getElementById("Bike").checked == true){
      points+=1;
    }
    if( document.getElementById("Turned off all lights").checked == true){
      points+=1;
    }
    if( document.getElementById("Turned off faucet").checked == true){
      points+=1;
    }
    if( document.getElementById("Did a full load of laundry").checked == true){
      points+=1;
    }
    if( document.getElementById("Thermostat reads 68 in the winter or 75 in the summer").checked == true){
      points+=1;
    }
    if( document.getElementById("Used a reusable water bottle").checked == true){
      points+=1;
    }

    points+=document.getElementById("Recycled bottles/cans").value;

    if( document.getElementById("Composted").checked == true){
      points+=1;
    }
    if( document.getElementById("Recycled paper").checked == true){
      points+=1;
    }
    if( document.getElementById("Chose local food products").checked == true){
      points+=1;
    }
    if( document.getElementById("Used your own dishes").checked == true){
      points+=1;
    }
    if( document.getElementById("Organic").checked == true){
      points+=1;
    }
    if( document.getElementById("Reduced packaged meat consumption").checked == true){
      points+=1;
    }
  }
  if( document.getElementById("score").clicked){
  check();
  console.log(points)
document.getElementById("score").innerHTML= "score: "  + points.toString();}
</script>
</body>
</html>
