<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../stylesheets/hackcmustyle.css" rel="stylesheet">
    <title> Carbon Garden </title>
  </head>

{% if current_user %}

  <body>
    <div class = "questions">
    <body style="margin:20px;padding:10px">
    <button type="button" onclick="window.location.href='/'"
    >Home</button>
    <button type="button" onclick="window.location.href='/questions'"
    >Questions</button>
    <button type="button" onclick="window.location.href='/mygarden'"
    >My Garden</button>
    <button type="button" onclick="window.location.href='/myprofile'"
    >My Profile</button>
    <button type="button" onclick="window.location.href='/leaderboard'">
    Leaderboard</button>

    <u><h1> <center> Welcome to Carbon Garden! </center> </h1></u>
    <h2> <center> Hello, {{profile.name}}! Thank you for logging in. Your participation in
    this game helps us achieve our goal of reducing the carbon footprint
    that will be left by our generation. </center> </h2>
    <h3> <center> The 'Questions' tab will allow you to answer your daily questions and
    gain points based on how green you were. The 'My Garden' tab will display
    your garden that grows based on the number of points you have. The
    'My Profile' tab will show you your account information. The
    'Leaderboard' tab compares the number of green points you have to your
    friends. <br> Happy reducing, reusing, and recycling! </br> </center> </h3>
  </div>

<button type="button"> <a id="getout" type="button" href="{{logout_url}}"> Log Out </a> </button>

  </body>

{% else %}

  <body>
  <div class = "scr1">
  <h1 class = "title"> Carbon <img src = "../images/foot.png" style="height:0.6em"> Garden </h1>
  </div>

  <div>
    <button type="button"> <a id="getin" type="button" href="{{login_url}}"> Sign Up </a> </button>
    <button type="button"> <a id="getin" type="button" href="{{login_url}}"> Log In </a> </button>

  </div>
  </body>
{% endif %}

</head>
</html>
