<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Homepage </title>
  </head>
  <body>
    <h1> Welcome to Carbon Garden </h1>
    <h3>Hello, {{ name}}! Thank you for logging in. Your participation in
    this game helps us achieve our goal of reducing the carbon footprint
    that will be left by our generation. </h3>
    <br>
    <h4> The 'My Profile' tab will show you your account information. The
      'My Garden' tab will display your growing garden based on the number of
      points you have. The 'Leaderboard' tab compares the number of green
      points you have to your friends. Happy reducing, reusing, and recycling! 
      <table>
    </table>
  </body>
</html>
